@model UserRegisterVM
@{
    ViewData["Title"] = "Register";
}

<form style="width:400px; margin:0 auto;" action="Register" method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" asp-for="UserName" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="fullname">Fullname</label>
        <input type="text" class="form-control" id="fullname" asp-for="FullName" placeholder="Fullname">
    </div>
    <div class="form-group">
        <label for="image">Image Url</label>
        <input type="text" class="form-control" id="image" asp-for="ProfileImageUrl" placeholder="Image url">
    </div>
    <div asp-validation-summary="ModelOnly"></div>
    <button class="btn btn-primary" asp-controller="Home" asp-action="Register">Submit</button>
</form>

@section scripts{
    <script>

    </script>
}
